<h2 style="text-align: center; font-size: 24px; color: #333;">Cadastrar Usuário</h2>
<form method="POST" style="border: 1px solid #ddd; padding: 20px; max-width: 400px; margin: auto; border-radius: 8px;">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required style="width: 100%; padding: 8px; margin-bottom: 10px;"><br>

    <label for="tipo_usuario">Tipo de Usuário:</label>
    <select id="tipo_usuario" name="tipo_usuario" required style="width: 100%; padding: 8px; margin-bottom: 10px;">
        <option value="aluno">Aluno</option>
        <option value="professor">Professor</option>
        <option value="externo">Externo</option>
    </select><br>

    <label for="login">Login:</label>
    <input type="text" id="login" name="login" required style="width: 100%; padding: 8px; margin-bottom: 10px;"><br>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required style="width: 100%; padding: 8px; margin-bottom: 20px;"><br>

    <button type="submit" style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; font-size: 16px;">Cadastrar</button>
</form>
