<h2 style="text-align: center; font-size: 24px; color: #333;">Bem-vindo ao Sistema de Biblioteca</h2>
<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'login_usuario' %}" style="padding: 10px 20px; background-color: #007bff; color: #fff; border-radius: 5px; text-decoration: none; margin-right: 10px;">Login</a>
    <a href="{% url 'cadastrar_usuario' %}" style="padding: 10px 20px; background-color: #28a745; color: #fff; border-radius: 5px; text-decoration: none;">Cadastrar Usuário</a>
</div>
