<h2 style="text-align: center; font-size: 24px; color: #333;">Bem-vindo, Usuário Externo!</h2>
<p style="text-align: center;">Escolha uma das opções abaixo:</p>
<ul style="list-style-type: none; text-align: center; padding: 0;">
    <li><a href="{% url 'consultar_catalogo' %}" style="color: #007bff; text-decoration: none;">Consultar Catálogo</a></li>
</ul>
<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'logout_usuario' %}" style="padding: 10px 20px; background-color: #dc3545; color: #fff; border-radius: 5px; text-decoration: none;">Sair</a>
</div>
